@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap');

body {
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.6;
    background-size: cover;
    color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    min-width: 375px;
}

h1, h2, h3 {
    margin-top: 0;
}

p {
    margin: 0 0 1rem;
}

.max-w-prose {
    max-width: 65ch;
}

.attribution {
    font-size: 11px;
    text-align: center;
    display: none;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
